<footer class="py-5 pb-0">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <h2 class="text-uppercase">
                        Location
                    </h2>
                    <p>2215 John Daniel Drive
                       Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <h2>
                    AROUND THE WEB
                </h2>
                <div class="social mx-auto d-flex justify-content-evenly align-items-center">
                    <div class="rounded-circle  d-flex justify-content-center align-items-center">
                        <i class="fa-brands fa-facebook"></i>
                    </div >
                    <div class="rounded-circle  d-flex justify-content-center align-items-center">
                        <i class="fa-brands fa-twitter"></i>
                    </div >
                    <div class="rounded-circle  d-flex justify-content-center align-items-center">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div >
                    <div class="rounded-circle  d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-globe"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2 class="text-uppercase">about freelancer</h2>
                <p>
                    Freelance is a free to use, licensed Bootstrap theme created by Route
                </p>
            </div>
        </div> 
    </div>
    <div class="row py-4">
        <p>Copyright © Your Website 2021</p>
    </div>
</footer>
