<section class="py-5">
  <div class="py-5">
    <h1 class="text-center py-3  position-relative ">
      CONTACT COMPONENT
      <i class="fa-solid fa-star position-absolute "></i>
  </h1>
  <div class="container py-5">
      <form class="w-50 mx-auto">
          <div class="mb-3">
            <label for="name" class="form-label"></label>
            <input type="text" class="form-control" id="name" placeholder="userName">

          </div>
          <div class="mb-3">
            <label for="age" class="form-label"></label>
            <input type="text" class="form-control" id="age" placeholder="userAge">
          </div>
          <div class="mb-3">
              <label for="email" class="form-label"></label>
              <input type="email" class="form-control" id="email" placeholder="userEmail">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label"></label>
              <input type="password" class="form-control" id="password" placeholder="userPassword">
            </div>
          
          <button type="submit" class="btn btn-success btn-lg mt-2">Send Message</button>
        </form>
  </div>


  </div>
  
</section>
